.content__subtitle {
    padding-top: 47px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
    color: #000000;
    margin: 0;
    max-width: 629px;
    padding-bottom: 39px;
}