section.content 
    h1.content__header Монтаж дымоходов
    .info
        p.info__text_inActive Главная
        img.info__img(alt="arrow" src="./images/right-arrow 1.svg")
        p.info__text Монтаж дымоходов
    p.content__caption В <span class="content__span">Дымоход.ру</span>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    h2.content__subtitle Lorem ipsum dolor sit amet <span class="content__subtitle-span">Lorem ipsum</span>
    .about
        ul.about__container
            li.about__text Доступные цены
            li.about__text Собственное производство дымоходов
            li.about__text Выполнение необходимых работ, связанных с установкой камина, печи, котла
            li.about__text Гарантия (от трех до десяти лет)
            li.about__text Работаем чисто, аккуратно, убираем за собой, не сквернословим
            li.about__text Только русские квалифицированные специалисты
            li.about__text Устанавливаем любые дымоходы всех проивзодителей
        .about__images-container
            img.about__image-1(alt="image", src="./images/blob.svg")
            img.about__image-2(alt="image", src="./images/image 3.svg")
            img.about__image-3(alt="image", src="./images/Triangle 1.svg")
            img.about__image-4(alt="image", src="./images/Triangle 2.svg")
            img.about__image-5(alt="image", src="./images/about-1.svg")
            img.about__image-6(alt="image", src="./images/about-2.svg")
    .process
        p.process__border
        h2.process__header Процесс выполнения монтажа 
        .steps
            ul.steps-container
                li.steps-container__text Рассчет предварительной записи
                li.steps-container__text Изготовление Дымохода, покраска(если требуется)
                li.steps-container__text Замер объекта нашим инженером
                li.steps-container__text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
                li.steps-container__text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на работы
                li.steps-container__text Гарантийное обслуживание по соответствующему сроку
    .why
        p.why__border
        h2.why__header Почему Дымоход.ру?
        p.why__description В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
    .why-container
        .card
            img.card__image(alt="image", src="./images/guarantee 1.svg")
            ul.card__header Большой гарантийный срок
                li.card__text Крепеж, стыковка элементов - <span style='color: #AE2236'>10 лет</span>
                li.card__text Сквозная коррозия труб - <span style='color: #AE2236'>5 лет</span>
                li.card__text Гидроизоляция - <span style='color: #AE2236'>3 года</span>
        .card
            img.card__image(alt="image", src="./images/architect 1.svg")
            ul.card__header Помощь в покупке агрегата
                li.card__text (печи, камина, котла), а также качественной установке на объекте с последюущим гарантийным сервисом
        .card
            img.card__image(alt="image", src="./images/review 1.svg")
            ul.card__header Реальные отзывы клиентов
                li.card__text Убедитесь в добросовенности исполнения, прочитав Отзывы клиентов в специальном разделе