footer.footer
    .footer-container
        ul.footer-container__title Каталог
            .footer-container__card
                li.footer-container__text
                    a(href="").footer-container__link Дымоходы
                li.footer-container__text
                    a(href="").footer-container__link Камины
                li.footer-container__text
                    a(href="").footer-container__link Дымососы
                li.footer-container__text
                    a(href="").footer-container__link Силикат кальция
                li.footer-container__text
                    a(href="").footer-container__link Печи для дома
                li.footer-container__text
                    a(href="").footer-container__link Котлы
                li.footer-container__text
                    a(href="").footer-container__link Печи для бани
                li.footer-container__text
                    a(href="").footer-container__link Еще
        ul.footer-container__title Информация
            .footer-container__card
                li.footer-container__text
                    a(href="").footer-container__link Каталог
                li.footer-container__text
                    a(href="").footer-container__link Полезное
                li.footer-container__text
                    a(href="").footer-container__link Установка и монтаж
                li.footer-container__text
                    a(href="").footer-container__link Контакты
                li.footer-container__text
                    a(href="").footer-container__link Отзывы
                li.footer-container__text
                    a(href="").footer-container__link Оплата и доставка
                li.footer-container__text
                    a(href="").footer-container__link Ликвидация товара
        ul.footer-container__title Время работы
            .footer-container__working-hours
                li.footer-container__text
                    p#timework.footer-container__link <span style="color: #4C858B">пн-пт</span> 9:00 - 20:00 <span style="color: #4C858B">сб-вс</span> 10:00-18:00
                li.footer-container__text
                    p#point.footer-container__link г.Санкт-Петербург, ул. Тамбасова д.7
                .footer-container__media-links
                    img(src="./images/vkf.svg", alt="vk")
                    img(src="./images/telegramf.svg", alt="telegram") 
                    img(src="./images/instagramf.svg", alt="instagram")  
                    img(src="./images/whatsappf.svg", alt="whatsapp") 