section.communication 
    h2.communication__header Необходима консультация?<span class="communication__text">оставьте заявку или свяжитесь с нами</span>
    ul.communication__media-links
        li
            a(href="").communication__media-link
                img(alt="vk" src="./images/vk.svg")
        li
            a(href="").communication__media-link
                img(alt="telegram" src="./images/tg.svg")
        li
            a(href="").communication__media-link
                img(alt="instagram" src="./images/instagram.svg")
        li
            a(href="").communication__media-link
                img(alt="whatsapp" src="./images/whatsapp.svg")
    form.communication__form(action="")
        h3.communication__form-header Для <span style='color: #EA6628'>консультации</span> заполните форму
        p.communication__form-subtitle С Вами свяжутся в ближайшее время
        .communication__inputs
            input.communication__form-input(placeholder="Ваше имя" type="text")
            input.communication__form-input(placeholder="Ваш телефон" type="text")
            button.communication__form-button отправить