header.header
    img.header__logo(alt="logo" src="./images/Logo.png")
    .header-navigation
        button.header-navigation__button-menu
        ul.header-navigation__pages-links
            li
                a(href="").header-navigation__pages-link Каталог товаров
            li
                a(href="").header-navigation__pages-link Доставка и оплата
            li
                a(href="").header-navigation__pages-link Цены
            li
                a(href="").header-navigation__pages-link Контакты
        p.header-navigation__phone +7 (812) <span class="header-navigation__phone-span">509 21 98</span>
        button.header-navigation__button-call Перезвоните мне
        ul.header-navigation__media-links
            li
                a(href="").header-navigation__media-link 
                    img(alt="vk" src="./images/Vector.svg")
            li
                a(href="").header-navigation__media-link 
                    img(alt="telegram" src="./images/Vector-5.svg")
            li
                a(href="").header-navigation__media-link 
                    img(alt="instagram" src="./images/instagram-header.svg")
            li
                a(href="").header-navigation__media-link 
                    img(alt="whatsup" src="./images/Vector-3.svg")
        ul.header-navigation__user-links
            li 
                a(href="").header-navigation__user-link
                    img(alt="search" src="./images/search.svg")
            li 
                a(href="").header-navigation__user-link
                    img(alt="like" src="./images/search-2.svg")
            li 
                a(href="").header-navigation__user-link
                    img(alt="cart" src="./images/cart.svg")
                