section.video-references
    p.video-references__border
    h2.video-references__title Видео об установке
    p.video-references__caption Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .video-container
        img.video-container__image-left(src="./images/mini blop.svg", alt="")
        img.video-container__image-right(src="./images/big blop.svg", alt="")
        img.video-container__image-top(src="./images/tochki.svg", alt="")
        img.video-container__image-bottom(src="./images/tochki-2.svg", alt="")
        iframe.video-container__iframe(src="https://www.youtube.com/embed/Bw5NSlf5tCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
