doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="./index.css")
  body.body
    include ./modules/header
    include ./modules/content
    include ./modules/form
    include ./modules/video-references
    include ./modules/photo-references
    include ./modules/footer